global
    log stdout format raw local0

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 8s
    timeout client 2m
    timeout server 2m

frontend shabakaty_tls
    bind :443
    default_backend reverse_ssh_tunnel

backend reverse_ssh_tunnel
    option tcp-check
    server tunnel tunnel-sshd:8443 check inter 5s fall 3 rise 2

